<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>saga</param-value>
    </context-param>

<servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>20971520</max-request-size>
        <file-size-threshold>0</file-size-threshold>
    </multipart-config>
</servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

    <context-param>
    	<param-name>primefaces.UPLOADER</param-name>
    	<param-value>native</param-value>
	</context-param>
	
	<context-param>
    	<param-name>primefaces.STREAM_CACHE_ENABLED</param-name>
    	<param-value>false</param-value>
	</context-param>
    
    <context-param>
   		<param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
   		<param-value>true</param-value>
	</context-param>
		
	<context-param>
		<description>If this property is set to true, the number
		that is used to generate new client IDs is stored in the view
		so that it is saved between requests.
		</description>
		<param-name>com.ibm.ws.jsf.storeDynamicClientIds</param-name>
		<param-value>true</param-value>
	</context-param> 
				
		
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
		
		
	<error-page>
    	<exception-type>
          jakarta.faces.application.ViewExpiredException
    	</exception-type >
    	<location>/modules/session/sessionList.jsf</location>
	</error-page>	
		

</web-app>

    